		.orange{
			background-color: gray;
		}

		.darkgray{
			background-color: slategray;
		}

		.inred{
			background-color: indianred;
		}
		.green{
			background-color: lightgreen;
		}
		.blue{
			background-color: lightblue;
		}


		table{
			 border: 15px  purple dashed;
			color: yellow;
		}
		#white{
			color: antiquewhite;
		}

		.h21{
			color: dimgray;
		}

		.h1{
			color: burlywood;
		}
		.h22{
			color: brown;
		}

		.h2{
			color: indianred;
		}
		.h23{
			color: yellow;
		}

		.h3{
			color:purple;
		}
		.h24{
			color: deeppink;
		}
		.h25{
			color: floralwhite;
		}
		.h4{
			color: darkblue;
		}
		.h26{
			color: purple;
		}
		.h5{
			color: burlywood;
		}
		.h27{
			color: rosybrown;
		}

		

		